* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: anton;
    src: url('../fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #24323F;
    padding: 68px 95px 35px;
}

.header__hl {
    color: #FFFFFF;
    font-family: 'anton';
}

.header__dropdown__select {
    height: 30px;
    margin: auto 0;
    background-color: #1A2634;
    font-family: 'roboto';
    color: #FFFFFF;
    border-radius: 27px;
    border-color: #1A2634;
    padding: 0 0 0 10px;
    /* appearance: none; */
}

.header__dropdown__select:focus {
    outline: none;
}

/* not working! */
/* .header__dropdown__select option:checked::before {
    transform: rotate(180deg);
    color: green;
} */