* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

@font-face {
    font-family: "anton";
    src: url('../fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: "roboto";
    src: url('../fonts/Roboto-Regular.ttf');
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #24323F;
    padding: 3vh 7.5vw;
}

.header__hl {
    color: #FFFFFF;
    font-family: 'anton';
    font-size: 3rem;
    font-weight: 400;
}

/* #genre-dropdown {
    height: 30px;
    margin: auto 0;
    background-color: #1A2634;
    font-family: 'roboto';
    color: white;
    border-radius: 27px;
    border-color: #1A2634;
    padding: 0 10px;
    width: 23.26vw;
    appearance: none;
} */


.header__dropdown__select:focus {
    outline: none;
    font-family: 'roboto';
}

/* not working! */
/* .header__dropdown__select option:checked::before {
    transform: rotate(180deg);
    color: green;
} */